{{> title title='外部名單'}}
<!--
<div class="title">
	<div class="container">
		<h1>
			外部名單
		</h1>
	</div>
</div>
-->
<div class="container">
  <!-- row div 於需要分兩欄才需要 -->
  <div class="row">
    <!-- 左欄 Start -->
    <div class="col-md-8 col-sm-7 col-xs-12">
      <!-- form set Start -->
      <div class="form_block">
        <h2>外部名單上傳</h2>
        <form id="reg" action="/feeddata/outdata/edit_act" method="post" onsubmit="return checkForm()" class="form-horizontal">
          <input type="hidden" name="outerListID" value="{{outerListID}}">
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">品牌</label>
            <div class="col-sm-8">
              <select class="form-control custom" id="client" name="client" disabled>
                <option value="TOYOTA">TOYOTA</option>
                <option value="LEXUS">LEXUS</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">名單名稱</label>
            <div class="col-sm-8">
              <input type="text" class="form-control " id="outerListName" name="outerListName" value="{{maininfo.[0].outerListName}}" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">屬性類別</label>
            <div class="col-sm-8">
              <select class="form-control custom" id="funcCatge" name="funcCatge">
                {{#each funcCatge as |Categ|}}
                <option value="{{Categ.codeValue}}">{{Categ.codeLabel}}</option>
                {{/each}}

              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">必要檢核</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type="radio" id="uLiscNO" name="optradio" value="uLiscNO" disabled>車牌必填
              </label>
              <label class="radio-inline">
                <input type="radio" id="uCustID" name="optradio" value="uCustID" disabled>身份證字號必填
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">活動時間
            </label>
            <div class="col-sm-8">
              <!-- 日期js請參考 :http://eonasdan.github.io/bootstrap-datetimepicker/ -->
              <div class="form-inline">
                <input type="text" class="form-control" id="outerListSdt" name="outerListSdt" placeholder="" value="{{maininfo.[0].outerListSdt}}">~
                <input type="text" class="form-control" id="outerListEdt" name="outerListEdt" placeholder="" value="{{maininfo.[0].outerListEdt}}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">活動內容說明</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="5" name="outerListDesc" id="outerListDesc">{{maininfo.[0].outerListDesc}}</textarea>
            </div>
          </div>
          <div class="btn-block center-block">
            <button type="submit" id="openModal1" class="btn btn-lg btn-default">修改</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="table_block">
        <h2>外部名單基本資訊</h2>
        <div class="info">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>名單總筆數</td>
                  <td>{{maininfo.[0].total}}</td>
                </tr>

                <tr>
                  <td>最後更新日期</td>
                  <td>{{maininfo.[0].updTime}}</td>
                </tr>
                <tr>
                  <td>最後更新人員</td>
                  <td>{{maininfo.[0].updUser}}</td>
                </tr>
                <tr>
                  <td>名單樣版：</td>
                  <td>
                    <a href="/asserts/pruisday.xlsx" class="btn btn-default">下載樣版</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal1">
  <div class="table_block">
    <h2>上傳結果</h2>
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">新增名單筆數</label>
      <div class="col-sm-8">
        <input type="text" class="form-control " id="inputName" value="{{successnum}}" placeholder="" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">名單總筆數</label>
      <div class="col-sm-8">
        <input type="text" class="form-control " id="inputName" value="{{total}}" placeholder="" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">上傳結果</label>
      <div class="col-sm-8">
        <input type="text" class="form-control " id="inputName" value="{{successnum}}筆新增成功,{{errornum}}筆錯誤資料" placeholder="" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">系統訊息</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="5" id="comment" disabled>
{{errormsg}}</textarea>
      </div>
    </div>
    <div class="btn-block center-block">
      <button type="button" class="btn btn-lg btn-default" onclick="closeWindow()">關閉</button>
    </div>
  </div>
</div>
<script>
  $('#outerListSdt').datepicker({
    locale: "zh-tw"
  });
  $('#outerListEdt').datepicker({
    locale: "zh-tw"
  });
  var f = document.getElementById("funcCatge");
  for (var i = 0; i < f.options.length; i++) {
    if (f.options[i].value == "{{maininfo.[0].funcCatge}}")
      f.options[i].selected = true;
  }
  $(function () {
    if ("{{dispaly}}" != "block") {
      $('.modal').hide();

    }
    $('.modal').append('<div class="overlay"></div>');
    $('.modal .overlay').click(function (event) {
      $('.modal').hide();
      $('body').removeClass('noscroll');
    });
  });

  function closeWindow() {
    $('.modal').hide();
    $('body').removeClass('noscroll');
  }
  function checkForm() {
    if (document.getElementById("outerListName").value == '') {
      alert("請輸入名單名稱");
      document.getElementById("outerListName").focus();
      return false;
    }
    if (document.getElementById("outerListSdt").value == '') {
      alert("請輸入投放時間(起)");
      document.getElementById("outerListSdt").focus();
      return false;
    }
    if (document.getElementById("outerListEdt").value == '') {
      alert("請輸入投放時間(末)");
      document.getElementById("outerListEdt").focus();
      return false;
    }
    if (document.getElementById("outerListDesc").value == '') {
      alert("請輸入活動內容說明");
      document.getElementById("outerListDesc").focus();
      return false;
    }
    return true;
  }
</script>